In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
folder = 'C:\\Rakshya\\ULL\\First Semester\\Data Mining\\fairdomain-20241031T021302Z-001\\fairdomain'

In [3]:
data_summary = pd.read_csv(os.path.join(folder, 'data_summary.csv'))

In [4]:
data_summary

,filename,age,gender,race,ethnicity,language,maritalstatus,md,glaucoma,use
0,data_00001.npz,72.37,female,white,non-hispanic,english,widowed,-22.93,yes,training
1,data_00002.npz,62.09,female,white,non-hispanic,english,divorced,1.48,no,training
2,data_00003.npz,68.70,female,white,non-hispanic,english,married or partnered,-19.61,yes,training
3,data_00004.npz,57.07,female,white,non-hispanic,english,married or partnered,1.13,no,training
4,data_00005.npz,47.59,male,white,non-hispanic,english,single,0.44,no,training
...,...,...,...,...,...,...,...,...,...,...
4995,data_09996.npz,59.12,female,white,non-hispanic,english,married or partnered,0.16,no,testing
4996,data_09997.npz,62.00,female,white,non-hispanic,english,married or partnered,0.41,no,testing
4997,data_09998.npz,77.10,female,white,non-hispanic,english,widowed,-9.54,yes,testing
4998,data_09999.npz,44.76,female,white,non-hispanic,english,married or partnered,0.74,no,testing
4999,data_10000.npz,64.00,female,black,non-hispanic,english,married or partnered,-9.05,yes,testing

In [5]:
data_summary['glaucoma'] = data_summary['glaucoma'].apply(lambda x: 1 if x == 'yes' else 0)

In [6]:
categorical_columns = ['gender', 'race', 'ethnicity', 'language', 'maritalstatus']
data_summary_encoded = pd.get_dummies(data_summary, columns=categorical_columns, drop_first=True)  #one hot-encoding

In [7]:

for k in data_summary_encoded.keys():
    print(k)

filename
age
md
glaucoma
use
gender_male
race_black
race_white
ethnicity_non-hispanic
language_other
language_spanish
language_unknown
maritalstatus_legally separated
maritalstatus_married or partnered
maritalstatus_single
maritalstatus_unknown
maritalstatus_widowed

In [8]:
# Split into training and testing sets based on 'use'
train_data = data_summary_encoded[data_summary_encoded['use'] == 'training'].drop(columns=['use'])
test_data = data_summary_encoded[data_summary_encoded['use'] == 'testing'].drop(columns=['use'])

In [9]:
train_data

,filename,age,md,glaucoma,gender_male,race_black,race_white,ethnicity_non-hispanic,language_other,language_spanish,language_unknown,maritalstatus_legally separated,maritalstatus_married or partnered,maritalstatus_single,maritalstatus_unknown,maritalstatus_widowed
0,data_00001.npz,72.37,-22.93,1,False,False,True,True,False,False,False,False,False,False,False,True
1,data_00002.npz,62.09,1.48,0,False,False,True,True,False,False,False,False,False,False,False,False
2,data_00003.npz,68.70,-19.61,1,False,False,True,True,False,False,False,False,True,False,False,False
3,data_00004.npz,57.07,1.13,0,False,False,True,True,False,False,False,False,True,False,False,False
4,data_00005.npz,47.59,0.44,0,True,False,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,data_02996.npz,62.00,-8.14,1,False,False,True,True,False,False,False,False,True,False,False,False
2996,data_02997.npz,60.26,-0.04,0,False,False,False,True,False,False,False,False,False,True,False,False
2997,data_02998.npz,63.84,-11.46,1,False,True,False,True,False,False,False,False,False,True,False,False
2998,data_02999.npz,56.87,0.26,0,True,False,False,True,False,False,False,False,True,False,False,False
2999,data_03000.npz,34.17,-5.65,1,True,False,False,True,False,False,False,False,True,False,False,False

In [10]:
test_data

,filename,age,md,glaucoma,gender_male,race_black,race_white,ethnicity_non-hispanic,language_other,language_spanish,language_unknown,maritalstatus_legally separated,maritalstatus_married or partnered,maritalstatus_single,maritalstatus_unknown,maritalstatus_widowed
3000,data_08001.npz,68.00,1.28,0,False,False,True,True,False,False,False,False,True,False,False,False
3001,data_08002.npz,50.07,-0.73,0,True,True,False,False,False,True,False,False,True,False,False,False
3002,data_08003.npz,77.57,0.11,0,False,False,False,True,True,False,False,False,True,False,False,False
3003,data_08004.npz,56.00,-0.14,0,False,False,True,True,False,False,False,False,True,False,False,False
3004,data_08005.npz,57.83,0.05,0,False,False,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,data_09996.npz,59.12,0.16,0,False,False,True,True,False,False,False,False,True,False,False,False
4996,data_09997.npz,62.00,0.41,0,False,False,True,True,False,False,False,False,True,False,False,False
4997,data_09998.npz,77.10,-9.54,1,False,False,True,True,False,False,False,False,False,False,False,True
4998,data_09999.npz,44.76,0.74,0,False,False,True,True,False,False,False,False,True,False,False,False
4999,data_10000.npz,64.00,-9.05,1,False,True,False,True,False,False,False,False,True,False,False,False

In [11]:
# Separate features (X) and labels (y)
X_train_metadata = train_data.drop(columns=['filename', 'glaucoma'])
y_train = train_data['glaucoma']
X_test_metadata = test_data.drop(columns=['filename', 'glaucoma'])
y_test = test_data['glaucoma']

Define function to load images from stored directory

In [12]:
def load_image_data(filenames, npz_dir):
    oct_fundus_images = []
    slo_fundus_images = []
    for fname in filenames:
        file_path = os.path.join(npz_dir, fname)
        with np.load(file_path) as data:
            oct_fundus_images.append(data['oct_fundus'])  # OCT fundus image
            slo_fundus_images.append(data['slo_fundus'])  # SLO fundus image
    return np.array(oct_fundus_images), np.array(slo_fundus_images)

In [13]:
train_data_dir = folder + '\\Training'
test_data_dir = folder + '\\Testing'

train_data_dir
test_data_dir

'C:\\Rakshya\\ULL\\First Semester\\Data Mining\\fairdomain-20241031T021302Z-001\\fairdomain\\Testing'

In [15]:
train_filenames = train_data['filename']
train_filenames

0       data_00001.npz
1       data_00002.npz
2       data_00003.npz
3       data_00004.npz
4       data_00005.npz
             ...
2995    data_02996.npz
2996    data_02997.npz
2997    data_02998.npz
2998    data_02999.npz
2999    data_03000.npz
Name: filename, Length: 3000, dtype: object

In [16]:
test_filenames = test_data['filename']

test_filenames

3000    data_08001.npz
3001    data_08002.npz
3002    data_08003.npz
3003    data_08004.npz
3004    data_08005.npz
             ...
4995    data_09996.npz
4996    data_09997.npz
4997    data_09998.npz
4998    data_09999.npz
4999    data_10000.npz
Name: filename, Length: 2000, dtype: object

In [17]:
X_train_oct, X_train_slo = load_image_data(train_filenames, train_data_dir)
X_test_oct, X_test_slo = load_image_data(test_filenames, test_data_dir)

In [18]:
type(X_train_oct)

numpy.ndarray

In [19]:
X_train_oct[0]

array([[197, 182, 177, ..., 170, 152, 147],
       [193, 191, 189, ..., 146, 135, 138],
       [184, 191, 197, ..., 150, 149, 141],
       ...,
       [189, 185, 188, ..., 192, 186, 187],
       [192, 186, 185, ..., 200, 191, 191],
       [169, 195, 191, ..., 198, 189, 187]], dtype=uint8)

In [22]:
print("Train shape OCT:", X_train_oct.shape)
print("Test shape OCT:", X_test_oct.shape)
print("Train shape SLO:", X_train_slo.shape)
print("Test shape SLO:", X_test_slo.shape)

Train shape OCT: (3000, 224, 224)
Test shape OCT: (2000, 224, 224)
Train shape SLO: (3000, 224, 224)
Test shape SLO: (2000, 224, 224)

In [23]:
#Addition of channels to training and testing data of  images
X_train_oct = np.expand_dims(X_train_oct, axis=-1)
X_test_oct = np.expand_dims(X_test_oct, axis=-1)
X_train_slo = np.expand_dims(X_train_slo, axis=-1)
X_test_slo = np.expand_dims(X_test_slo, axis=-1)

In [24]:
#after adding channels
print("Train shape OCT:", X_train_oct.shape)
print("Test shape OCT:", X_test_oct.shape)
print("Train shape SLO:", X_train_slo.shape)
print("Test shape SLO:", X_test_slo.shape)

Train shape OCT: (3000, 224, 224, 1)
Test shape OCT: (2000, 224, 224, 1)
Train shape SLO: (3000, 224, 224, 1)
Test shape SLO: (2000, 224, 224, 1)

Defining Multimodal model

In [25]:
from tensorflow.keras.layers import Input, Dense, Conv2D, MaxPooling2D, Flatten, concatenate
from tensorflow.keras.models import Model

In [26]:
#input branch
metadata_input = Input(shape=(X_train_metadata.shape[1],), name="metadata_input")
metadata_dense = Dense(64, activation='relu')(metadata_input)

In [27]:
# OCT image branch
oct_input = Input(shape=(224, 224, 1), name="oct_input")
oct_cnn = Conv2D(32, (3, 3), activation='relu')(oct_input)
oct_cnn = MaxPooling2D((2, 2))(oct_cnn)
oct_cnn = Flatten()(oct_cnn)

In [28]:
# SLO image branch
slo_input = Input(shape=(224, 224, 1), name="slo_input")
slo_cnn = Conv2D(32, (3, 3), activation='relu')(slo_input)
slo_cnn = MaxPooling2D((2, 2))(slo_cnn)
slo_cnn = Flatten()(slo_cnn)

In [29]:
# Combine all branches
combined = concatenate([metadata_dense, oct_cnn, slo_cnn])
x = Dense(128, activation='relu')(combined)
x = Dense(64, activation='relu')(x)

In [30]:
output = Dense(1, activation='sigmoid', name="output")(x)

Model Building

In [31]:
model = Model(inputs=[metadata_input, oct_input, slo_input], outputs=output)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [32]:
model.summary()

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ oct_input           │ (None, 224, 224,  │          0 │ -                 │
│ (InputLayer)        │ 1)                │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ slo_input           │ (None, 224, 224,  │          0 │ -                 │
│ (InputLayer)        │ 1)                │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ conv2d (Conv2D)     │ (None, 222, 222,  │        320 │ oct_input[0][0]   │
│                     │ 32)               │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ conv2d_1 (Conv2D)   │ (None, 222, 222,  │        320 │ slo_input[0][0]   │
│                     │ 32)               │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ metadata_input      │ (None, 14)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ max_pooling2d       │ (None, 111, 111,  │          0 │ conv2d[0][0]      │
│ (MaxPooling2D)      │ 32)               │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ max_pooling2d_1     │ (None, 111, 111,  │          0 │ conv2d_1[0][0]    │
│ (MaxPooling2D)      │ 32)               │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense (Dense)       │ (None, 64)        │        960 │ metadata_input[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten (Flatten)   │ (None, 394272)    │          0 │ max_pooling2d[0]… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten_1 (Flatten) │ (None, 394272)    │          0 │ max_pooling2d_1[… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ concatenate         │ (None, 788608)    │          0 │ dense[0][0],      │
│ (Concatenate)       │                   │            │ flatten[0][0],    │
│                     │                   │            │ flatten_1[0][0]   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_1 (Dense)     │ (None, 128)       │ 100,941,9… │ concatenate[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 64)        │      8,256 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ output (Dense)      │ (None, 1)         │         65 │ dense_2[0][0]     │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 100,951,873 (385.10 MB)

 Trainable params: 100,951,873 (385.10 MB)

 Non-trainable params: 0 (0.00 B)